@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f9fafc;
}

@layer base{
    li{
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

